* {
	margin: 0;
	padding: 0;
}

div#debug {
	width: 98%;
	/*min-height: 25px;*/
	padding: 0 1%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: rgba( 200, 200, 200, 0.8 );
}

div#debug p {
	padding: 1px 15px;
	float: left;
}

#mapArea, #controlsArea {
	float: left;
}

#map {
	table-layout: fixed;
	border-collapse: collapse;
}

	#map .grass {
		background-color: green;
		background: url("../sprites/grass.png") no-repeat;
		background-size: 100% 100%;
	}
	#map .river {
		background-color: #44f;
		background: url("../sprites/river.png") no-repeat;
		background-size: 300% 400%;
		/*background-position: -64px -64px;*/
	}
	#map .bad {
		background-color: purple;
		background: url("../sprites/bad.png") no-repeat;
		background-size: 100% 100%;
	}
	#map .bridge {
		background-color: green;
		background: url("../sprites/bridge.png") no-repeat;
		background-size: 200% 100%;
	}